<div class="container" style="max-width: 80%; margin: 0 auto;">
  <br>
  <section class="mb-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2>Produkty</h2>
      <button mat-raised-button color="primary" (click)="openChangeSummaryDialog()">Wprowadź zmiany</button>
    </div>

    <!-- Filtr nazwy -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>Filtruj nazwę</mat-label>
      <input matInput [(ngModel)]="productFilter" placeholder="Szukaj produktów" (input)="applyProductFilter()"/>
    </mat-form-field>

    <!-- Filtr tagów -->
    <div class="mb-3">
      <ng-select
        [items]="availableTags"
        [multiple]="true"
        [closeOnSelect]="false"
        placeholder="Filtruj tagi"
        [(ngModel)]="selectedTags"
        (change)="applyProductFilter()">
      </ng-select>
    </div>

    <!-- Tabela produktów -->
    <mat-table [dataSource]="filteredProductDataSource" matSort #productSort="matSort" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="previewProduct(element.id)">
            {{ element.name }}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aktywny</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-slide-toggle [formControl]="getControl(element.id, 'enabled')"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="getControl(element.id, 'quantity')"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criticalStock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Krytyczny Stan</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="getControl(element.id, 'criticalStock')"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percentCriticalStock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>% Krytyczny</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ calculateCriticalStockPercentage(element.wms.quantity, element.wms.criticalStock) | number: '1.0-2' }}%
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
  <hr>
  <!-- Sekcja: Materiały -->
  <section>
    <h2>Materiały</h2>

    <!-- Filtr nazwy -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>Filtruj nazwę</mat-label>
      <input matInput [(ngModel)]="materialFilter" placeholder="Szukaj materiałów" (input)="applyMaterialFilter()"/>
    </mat-form-field>

    <ng-select
      [items]="[
    { label: 'El. złączne', value: 'fastener' },
    { label: 'Kartony', value: 'package' },
    { label: 'Filament', value: 'filament' }
  ]"
      [multiple]="false"
      placeholder="Filtruj rodzaj materiału"
      bindLabel="label"
      bindValue="value"
      [(ngModel)]="selectedMaterialType"
      (ngModelChange)="applyMaterialFilter()">
    </ng-select>
    <br>
    <!-- Tabela materiałów -->
    <mat-table [dataSource]="filteredMaterialDataSource" matSort #materialSort="matSort" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="previewMaterial(element.id)">
            {{ element.name }}
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aktywny</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-slide-toggle [formControl]="getControl(element.id, 'enabled')"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="getControl(element.id, 'quantity')"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="criticalStock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Krytyczny Stan</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="getControl(element.id, 'criticalStock')"/>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percentCriticalStock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>% Krytyczny</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ calculateCriticalStockPercentage(element.wms.quantity, element.wms.criticalStock) | number: '1.0-2' }}%
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
  <br>
</div>
