<div class="sidebar open">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">VaBanQ ERP</div>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search..."/>
      <span class="tooltip">Search</span>
    </li>
    <li>
<!--      <a routerLink="/dashboard" disabled>-->
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
<!--      </a>-->
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a routerLink="/add-item">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Stwórz produkt</span>
      </a>
      <span class="tooltip">Stwórz produkt</span>
    </li>
<!--    <li>-->
<!--      <a routerLink="/add-product">-->
<!--        <i class="bx bx-grid-alt"></i>-->
<!--        <span class="links_name">Stwórz produkt</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Stwórz produkt</span>-->
<!--    </li>-->
    <li>
      <a routerLink="/items">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Przedmioty</span>
      </a>
      <span class="tooltip">Przedmioty</span>
    </li>
<!--    <li>-->
<!--      <a routerLink="/allegro-synchronization">-->
<!--        <i class="bx bx-grid-alt"></i>-->
<!--        <span class="links_name">Synchronizuj Allegro</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Synchronizuj allegro</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/allegro-synchronized">-->
<!--        <i class="bx bx-grid-alt"></i>-->
<!--        <span class="links_name">Zsynchronizowane</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Zsynchronizowane ofert</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="/wms">-->
<!--        <i class="bx bx-grid-alt"></i>-->
<!--        <span class="links_name">Stany magazynowe</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Stany magazynowe</span>-->
<!--    </li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-user"></i>-->
<!--        <span class="links_name">User</span>-->
<!--      </a>-->
<!--      <span class="tooltip">User</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-chat"></i>-->
<!--        <span class="links_name">Messages</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Messages</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-pie-chart-alt-2"></i>-->
<!--        <span class="links_name">Analytics</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Analytics</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-folder"></i>-->
<!--        <span class="links_name">File Manager</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Files</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-cart-alt"></i>-->
<!--        <span class="links_name">Order</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Order</span>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#">-->
<!--        <i class="bx bx-heart"></i>-->
<!--        <span class="links_name">Saved</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Saved</span>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a routerLink="/settings">-->
<!--        <i class="bx bx-cog"></i>-->
<!--        <span class="links_name">Ustawienia</span>-->
<!--      </a>-->
<!--      <span class="tooltip">Ustawienia</span>-->
<!--    </li>-->

    <li class="profile">
      <div class="profile-details">
        <!--<img src="profile.jpg" alt="profileImg">-->
        <div class="name_job">
          <div class="name">Jan Kowalski</div>
<!--          <div class="name">{{userProfile?.firstName}} {{userProfile?.lastName}}</div>-->
          <div class="job">jan.kowalski&commat;gmail.com</div>
<!--          <div class="job">{{userProfile?.email}}</div>-->
        </div>
      </div>
<!--      <button (click)="logout()"><i class="bx bx-log-out" id="log_out"></i></button>-->
      <button><i class="bx bx-log-out" id="log_out"></i></button>
    </li>
  </ul>
</div>
