<div class="container-fluid" style="width: 80%;">
  <mat-tab-group>
    <mat-tab label="Produkty">
      <ng-template matTabContent>
        <br>
        <h2>Stwórz nowy produkt</h2>
        <hr>
        <form #heroForm="ngForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4" style="padding: 0">
                <h2><label for="name">Nazwa</label></h2>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="addProductRequest.name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Nazwa jest wymagana</div>
              </div>
              <div class="col-md-4">
                <h2><label for="name">EAN</label></h2>
                <input type="text" class="form-control" id="ean" name="ean" required [(ngModel)]="addProductRequest.ean" #ean="ngModel">
                <div [hidden]="ean.valid || ean.pristine" class="alert alert-danger">EAN jest wymagany</div>
              </div>
              <div class="col-md-4" >
                <h2><label for="duration">Czas trwania druku</label></h2>
                <input type="text" autocomplete="off" class="form-control" appTimeMask id="duration" name="duration" [(ngModel)]="duration">
              </div>
            </div>
          </div>

          <br>

          <div class="form-group">
            <h2><label>Materiały</label></h2>
            <ng-select [items]="dataSource"
                       bindLabel="name"
                       bindValue="name"
                       [groupBy]="groupMaterialsByFn"
                       [groupValue]="groupMaterialsValueFn"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       (change)="onMaterialsChangeTable($event)"
                       [compareWith]="compareFn"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="selectedListedMaterials">
              <ng-template ng-optgroup-tmp let-item="item">
                <span style="vertical-align: middle;">{{ item.name }}</span>
                <span class="ml-1 badge badge-secondary">{{ item.total }}</span>
              </ng-template>
            </ng-select>
          </div>

          <table mat-table [dataSource]="selectedListedMaterials">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nazwa</th>
              <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Typ</th>
              <td mat-cell *matCellDef="let element"> {{ element.type }}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Cena netto</th>
              <td mat-cell *matCellDef="let element">
                {{ element.price }}zł{{ element.type === 'FILAMENT' ? '/kg' : '/szt' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="q">
              <th mat-header-cell *matHeaderCellDef>Ilość</th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <ng-container [ngSwitch]="element.type">
                  <ng-container *ngSwitchCase="'FILAMENT'">
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon2"
                        [(ngModel)]="element.q"
                        (change)="calculateMaterialsPrice()"
                        autocomplete="off"
                        name="q"
                      />
                      <span class="input-group-text" id="basic-addon2">g</span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        aria-describedby="basic-addon2"
                        [(ngModel)]="element.q"
                        (change)="calculateMaterialsPrice()"
                        autocomplete="off"
                        name="q"
                      />
                      <span class="input-group-text">szt</span>
                    </div>
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <hr style="margin-top: 0; margin-bottom: 0.15em; border-color: rgba(0, 0, 0, 0.7);" *ngIf="selectedListedMaterials.length > 0">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="margin-left: 16px;">Prowizja allegro</span>
            <span>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="basic-addon2"
                  [(ngModel)]="addProductRequest.allegroTax"
                  (change)="calculateMaterialsPrice()"
                  autocomplete="off"
                  name="q"
                />
                <span class="input-group-text" style="margin-right: 16px">zł</span>
              </div>
            </span>
          </div>
          <hr style="margin-top: 0.15em; margin-bottom: 0; border-color: rgba(0, 0, 0, 0.7);">


          <div style="display: flex; justify-content: space-between;">
            <h2><span style="margin-left: 16px">Podsumowanie</span></h2>
            <h2><span style="margin-right: 16px">{{ total() }} zł</span></h2>
          </div>
          <br>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4" style="padding-left: 0;">
                <div class="form-group">
                  <label>Główny widok</label>
                  <ngx-dropzone ngx-dropzone [accept]="'image/*'" (change)="onSelectPreview($event)"
                                [expandable]="true">
                    <ngx-dropzone-label>Widok produktu</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of preview" [file]="f"
                                                [removable]="true" (removed)="onRemovePreview(f)">
                      <ngx-dropzone-label>{{ (f.name.length > 10 ? (f.name | slice:0:10) + '...' : f.name) }}
                        ({{ f.type }})
                      </ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <label>Wszystkie pliki</label>
                  <ngx-dropzone (change)="onSelectFiles($event)" [expandable]="true">
                    <ngx-dropzone-label>Wszystkie pliki</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemoveFiles(f)">
                      <ngx-dropzone-label>{{ (f.name.length > 10 ? (f.name | slice:0:10) + '...' : f.name) }}
                        ({{ f.type }})
                      </ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
          </div>


          <br>
          <button type="submit" class="btn btn-success" (click)="onProductSubmit()">Submit</button>

        </form>
      </ng-template>
    </mat-tab>
    <mat-tab label="Materiały">
      <ng-template matTabContent>
        <br>
        <h2>Stwórz nowy materiał</h2>
        <hr>
        <form>
          <div class="form-group">
            <h2><label for="materials">Nazwa</label></h2>
            <input type="text" class="form-control" id="materials" name="materials-name" required
                   [(ngModel)]="addMaterialRequest.name" autocomplete="off"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">Nazwa jest wymagana
            </div>
          </div>
          <br>
          <div class="form-group">
            <h2><label>Typ</label></h2>
            <ng-select [items]="accessoryTypes"
                       bindLabel="translation"
                       bindValue="name"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [ngModelOptions]="{standalone: true}"
                       (change)="onMaterialsChange($event)"
                       [(ngModel)]="addMaterialRequest.accessoryType">
            </ng-select>
          </div>
          <br>
          <div class="container-fluid">
            <div class="row" *ngIf='showFilamentOptions'>
              <div class="col-md-6" style="padding-left: 0">
                <form [formGroup]="form">
                  <div class="form-group">
                    <h2><label for="materials">Producent</label></h2>
                    <input type="text" class="form-control" id="producer" [ngModelOptions]="{standalone: true}" required
                           [(ngModel)]="addMaterialRequest.producer" autocomplete="off"
                           #name="ngModel">
                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">Nazwa jest wymagana
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <h2><label>Typ filamentu</label></h2>
                    <ng-select [items]="filamentTypes"
                               [multiple]="false"
                               [closeOnSelect]="true"
                               [ngModelOptions]="{standalone: true}"
                               [(ngModel)]="addMaterialRequest.filamentType">
                    </ng-select>
                  </div>
                  <br>
                  <div class="form-group">
                    <h2><label for="temp1">Temperatura druku</label></h2>
                    <input class="form-control" [(ngModel)]="addMaterialRequest.temperaturePrint"
                           [ngModelOptions]="{standalone: true}" autocomplete="off"
                           type="text" appDegreeMask id="temp1">
                  </div>
                  <br>
                  <div class="form-group">
                    <h2><label for="temp2">Temperatura stołu</label></h2>
                    <input class="form-control" [(ngModel)]="addMaterialRequest.temperatureDesk"
                           [ngModelOptions]="{standalone: true}" autocomplete="off"
                           type="text" appDegreeMask id="temp2">
                  </div>
                  <br>
                  <div>
                    <h2><label *ngIf="showFilamentOptions; else elseBlock" for="price">Cena netto za kilogram</label>
                    </h2>
                    <ng-template #elseBlock><h2><label for="price">Cena netto za sztukę</label></h2></ng-template>
                    <div class="input-group">
                      <input type="text" id="price" [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="addMaterialRequest.price" class="form-control"
                             autocomplete="off" currencyInput maxDigits="9">
                    </div>
                    <br>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="margin-left: 100px">
                  <h2><label>Kolor</label></h2>
                  <color-sketch (onChange)="handleChange($event)"></color-sketch>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='showPackageOptions'>
            <div class="form-group">
              <h2><label>Gabaryt InPost</label></h2>
              <ng-select [items]="packageSize"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="addMaterialRequest.packagingSize">
              </ng-select>
            </div>
            <br>
            <div class="form-group">
              <label><h2>Wymiary (długość x szerokość x wysokość)</h2></label>
              <input type="text" [(ngModel)]="addMaterialRequest.dimensions" appPackageDimensions class="form-control"
                     placeholder="00.00x00.00x00.00" name="dimensions" autocomplete="off">
            </div>
            <br>
          </div>
          <div *ngIf='!showFilamentOptions'>
            <h2><label>Cena netto za sztukę</label></h2>
            <div class="input-group">
              <input type="text" id="price2" name="price" [(ngModel)]="addMaterialRequest.price" class="form-control"
                     autocomplete="off" currencyInput maxDigits="9">
            </div>
          </div>
        </form>
        <br>
        <div class="text-right">
          <button type="submit" (click)="onMaterialSubmit()" class="btn btn-primary">Utwórz</button>
        </div>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
