<div style="display: flex; background-color: white; ">
  <div class="sidebar open" style="flex: 0 0 250px;">
    <app-menu></app-menu>
  </div>
  <div style="flex-grow: 1;">
    <div class="toast-container">
      <ngb-toast *ngFor="let toast of toastService.toasts"
                 [class]="toast.classname"
                 [autohide]="true"
                 [delay]="toast.delay"
                 (hidden)="toastService.remove(toast)">
        {{ toast.text }}
      </ngb-toast>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
