<div class="row row-cols-1 row-cols-md-4">
  <div *ngFor="let item of printItems">
    <div class="col mb-4">
      <div class="card">
        <img *ngIf="hasPreview(item)" [src]="'data:image/jpeg;base64,' + item.preview!.data" alt="Preview"
             class="card-img-top img-fluid">
        <div class="card-body">
          <h3 class="card-title">{{ item.name }}</h3>
          <p>asdsa</p>
          <!--          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional-->
          <!--            content. This content is a little bit longer.</p>-->
          <button mat-raised-button (click)="edit(item)">Edytuj</button>
        </div>
      </div>
    </div>
  </div>
</div>
