.container {
  width: 100%;
  margin: 0 auto;
}

.product-ean-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cztery kolumny */
  gap: 15px; /* Przerwy między kartami */
  margin-top: 20px;
}

.ean-card {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 15px;
}

/* Responsywność z użyciem media queries */
@media (max-width: 1200px) {
  .product-ean-cards {
    grid-template-columns: repeat(3, 1fr); /* Trzy kolumny */
  }
}

@media (max-width: 900px) {
  .product-ean-cards {
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny */
  }
}

@media (max-width: 600px) {
  .product-ean-cards {
    grid-template-columns: 1fr; /* Jedna kolumna */
  }
}


.ean-card h3 {
  margin-top: 0;
}

.ean-card .form-group {
  margin-bottom: 10px;
}

.ean-card .ean-image img {
  max-width: 100%;
}

.error-message {
  color: red;
  font-weight: bold;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  margin: 0;
  font-size: 1.2rem;
}

.quantity-counter {
  display: flex;
  align-items: center;
  gap: 0.7rem; /* Większa przerwa między elementami */
}

.quantity-input {
  width: 4ch;
  height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-appearance: textfield; /* Firefox */
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0; /* Usunięcie dodatkowego marginesu */
}
.quantity-counter .btn {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
}

.quantity-value {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  min-width: 2rem;
}

.quantity-btn-minus {
  background-color: #4c1d1d; /* Bootstrap's danger red */
  border-color: #4c1d1d;
  color: #fff;
}

.quantity-btn-plus {
  background-color: #1d672d; /* Bootstrap's success green */
  border-color: #1d672d;
  color: #fff;
}

.quantity-btn-minus:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #bd2130;
}

.quantity-btn-plus:hover {
  background-color: #218838; /* Darker green on hover */
  border-color: #1e7e34;
}
