<div class="container-fluid" style="width: 100%;">
  <h2>Edycja {{ wms.name }}</h2>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Krytyczny stan</span>
    </div>
    <input type="text" class="form-control" id="alertStock" name="alertStock" required [(ngModel)]="alertStock">
  </div>
  <br>

  <div class="container-fluid form-inline">
    <div class="row">
      <div class="col-md-8" style="padding: 0">
        <label>Obecny stan: {{ currentStockWms() }} &nbsp;</label>
      </div>
      <div class="col-md-4">
        <div class="btn-group" role="group">
          <button mat-icon-button (click)="remove()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button (click)="add()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <br>
  <div class="btn-group-vertical">
<!--    <div class="form-check">-->
<!--      <input class="form-check-input" type="checkbox" value="" id="allegroSynchronization"-->
<!--             [(ngModel)]="allegroSynchronization">-->
<!--      <label class="form-check-label" for="allegroSynchronization">-->
<!--        Synchronizacja allegro-->
<!--      </label>-->
<!--    </div>-->
    <div class="form-check" *ngIf="showChildrenWmsForm">
      <input class="form-check-input" type="checkbox" value="" id="cascadeDeleting" [(ngModel)]="cascadeDeleting">
      <label class="form-check-label" for="cascadeDeleting">
        Kaskadowe usuwanie
      </label>
    </div>
    <div class="form-check" *ngIf="showChildrenWmsForm">
      <input class="form-check-input" type="checkbox" value="" id="cascadeAdding" [(ngModel)]="cascadeAdding">
      <label class="form-check-label" for="cascadeAdding">
        Kaskadowe dodawanie
      </label>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" *ngIf="showChildrenWmsForm">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nazwa</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Ilość</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getQuantityForChildWms(element) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="alertStock">
      <mat-header-cell *matHeaderCellDef>Krytyczny stan</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.alertStock }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="currentStock">
      <mat-header-cell *matHeaderCellDef>Obecny stan</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getCurrentStockChildWms(element) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <br><br>
  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="submit()">Zapisz</button>
  </div>
</div>
