<!-- allegro-synchronized.component.html -->

<button mat-raised-button color="primary" (click)="synchronize()">Synchronizuj</button>

<table mat-table [dataSource]="offers" class="mat-elevation-z8">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Numer </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.number }} </td>
  </ng-container>

  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef> Zdjęcie aukcji </th>
    <td mat-cell *matCellDef="let offer">
      <img [src]="offer.imageUrl" alt="Zdjęcie" width="50" height="50" />
    </td>
  </ng-container>

  <ng-container matColumnDef="auctionName">
    <th mat-header-cell *matHeaderCellDef> Nazwa Aukcji </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.auctionName }} </td>
  </ng-container>

  <ng-container matColumnDef="offerNumber">
    <th mat-header-cell *matHeaderCellDef> Numer oferty </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.offerNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="linkedProducts">
    <th mat-header-cell *matHeaderCellDef> Powiązane produkty </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.linkedProducts }} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Cena </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.price | currency:'PLN' }} </td>
  </ng-container>

  <ng-container matColumnDef="allegroQuantity">
    <th mat-header-cell *matHeaderCellDef> Ilość na Allegro </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.allegroQuantity }} </td>
  </ng-container>

  <ng-container matColumnDef="wmsQuantity">
    <th mat-header-cell *matHeaderCellDef> Ilość w WMS </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.wmsQuantity }} </td>
  </ng-container>

  <ng-container matColumnDef="commission">
    <th mat-header-cell *matHeaderCellDef> Prowizja </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.commission | number:'1.2-2' }} </td>
  </ng-container>

  <ng-container matColumnDef="ean">
    <th mat-header-cell *matHeaderCellDef> EAN </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.ean }} </td>
  </ng-container>

  <ng-container matColumnDef="auctionStatus">
    <th mat-header-cell *matHeaderCellDef> Status aukcji </th>
    <td mat-cell *matCellDef="let offer"> {{ offer.auctionStatus }} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Edycja </th>
    <td mat-cell *matCellDef="let offer">
      <button mat-raised-button color="accent" (click)="openEditDialog(offer)">Edytuj</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
